# 기본 참고
# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build (bare workflow 대비)
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
#android/
#ios/

# Metro cache
.metro-cache/
metro-cache/
.metro-health-check/

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS system files
.DS_Store

# certificates
*.pem

# environment files
.env
.env.*
.env*.local

# typescript build cache
*.tsbuildinfo

# project specific
app-example/
firebase.json
firestore.indexes.json
firestore.rules
storage.rules

# optional: VSCode settings (개인 설정이라면 추가)
.vscode/

# optional: Firebase Emulator artifacts
firebase-debug.log
firestore_export/
